@charset "utf-8";
*{ font-family:"microsoft yahei";
}
.header{
	width: 1100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;


}
.web_name{
	margin-top: 30px;
	width:250px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	border: 1px solid rgb(55,181,249);
float: left;
	font-size: 30px;color: rgb(55,181,249);text-align: center;
}
.web_name1{
	width:140px;
	height: 50px;
    float: left;

    color: rgb(55,181,249);
	font-size: 30px;text-align: center;
}
.web_name2{
	width:110px;
	height: 50px;

    float: left;
    border-radius: 0 5px 5px 0;
    background: rgb(55,181,249);
	font-size:30px;color: #fff;text-align: center;
}
.user_display{
	width: auto;
	height: 100px;
	float: right;
	line-height: 100px;
	padding-top: 30px; 
	margin-right: 50px;
	color: rgb(150,150,150);


}
a{
	text-decoration: none;

}
a:link{
color: rgb(100,100,100);
}
a:visited{
	color: rgb(100,100,100);
}
a:hover{
	color: rgb(150,150,150);
}

.header_bottom{
	height: 12px;
	width: 100%;
	background:url(../images/head_cross.png) repeat;
}

.container{
	width: 1100px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	
}
.keyname{
	margin-top: 30px;
	margin-bottom: 20px;
	border-left: 3px solid rgb(46,167,224);
	width: auto;
	height: 30px;
	
	color: rgb(102,102,102);
	padding-left: 30px;
	font-size: 25px;
	
	
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu ;
	font-weight: 300;
}
.divide{
	border-top: 1px solid rgb(221,221,221);

	width: 100%;
	margin-bottom: 10px;


}
ul{
	padding-top: 10px;
	padding-bottom: 10px;

	
	border: 1px solid rgb(243,243,243);
		
	background: rgb(249,249,249);
}
li{
	list-style: square red;
	color: rgb(100,100,100);
	font-size: 17px;
	height: 30px;
	width: auto;
	margin-top: 10px;
}
.timedisplay{
	float: right;
	margin-right:200px;
	font-size: 14px;
	color: rgb(120,120,120);
}
.ossurldisplay{
	float: right;
	
	height: 10px;
	margin-bottom: 20px;
	
	font-size: 10px;
	color: rgb(55,181,249);
}
.ossurldisplay a {color:  rgb(55,181,249);}



